<form action="<%= users_url %>" method="post">

  <p>
    <label>Email
      <input type="text" name="user[email]">
    </label>
  </p>

  <p>
    <label>Password
      <input type="password" name="user[password]">
    </label>
  </p>

    <input type="submit" value="create user">

</form>
